swagger: '2.0'
info:
  title: api-gateway
  description: API Gateway
  version: 1.0.0
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /DevOps:
    post:
      operationId: devops-id
      x-google-backend:
        address: Use a domain name to point to service
      security: 
        - ApiKeyAuth: []
      responses:
        200:
          description: OK
        401:
          description: Not authenticated
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: x-api-key